body {
    margin: 0;
}

#wrapper {
    margin: 1em;
}

#parking-lot {
    position: relative;
    background-image: url(img/parkinglot.jpg);
    width: 1385px;
    height: 1035px;
}

#lot-overlay {
    position: absolute;
    width: 1385px;
    height: 1035px;
    pointer-events: none;
}

.path-line {
    position: absolute;
    content: '';
    background-color: blueviolet;
}

.space {
    position: absolute;
    opacity: 50%;
    background-color: grey;
    pointer-events: all;
}

.intersection > div {
    position: absolute;
    opacity: 25%;
}

.car-wrapper {
    position: absolute;
    width: inherit;
    height: inherit;
    pointer-events: none;
}

/* Overlay Elements */
.overlay-wrapper {
    position: absolute;
    width: inherit;
    height: inherit;
}
.show-overlay-children .overlay-el {
    display: initial;
}
.overlay-el {
    display: none;
}
.focused .overlay-el {
    display: initial;
}
.visible {
    display: initial;
}
.hidden {
    display: none;
}

.area-box {
    position: absolute;
    content: '';
    opacity: 50%;
}

.maneuver-box {
    position: absolute;
    opacity: 25%;
}

.car {
    position: absolute;
    width: 182px;
    height: 182px;
}

.car > img {
    position: relative;
    top: 46px;
    width: 182px;
    height: 90px;
    pointer-events: all;
}

/* Test Elements */
#hcar {
    display: none;
    left: calc(20px);
    top: calc(18px - 46px);
}

#vCar {
    display: none;
    transform: rotate(270deg);
    left: calc(228px + 47px - 46px);
    top: calc(0px);
}