body {
    margin: 0;
}

#wrapper {
    margin: 1em;
}

#parking-lot {
    position: relative;
    background-image: url(img/parkinglot.jpg);
    width: 1385px;
    height: 1035px;
}

#lot-overlay {
    position: absolute;
    width: 1385px;
    height: 1035px;
}

.path-line {
    position: absolute;
    content: '';
    background-color: blueviolet;
}

.space {
    position: absolute;
}

.car {
    position: absolute;
    width: 182px;
    height: 182px;
}

.car > img {
    position: relative;
    top: 46px;
    width: 182px;
    height: 90px;
}

#hcar {
    display: none;
    left: calc(20px);
    top: calc(18px - 46px);
}

#vCar {
    display: none;
    transform: rotate(270deg);
    left: calc(228px + 47px - 46px);
    top: calc(0px);
}
